@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Outfit:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-barber-black text-white font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display tracking-wide;
  }
}

@media print {
  @page {
    size: 58mm auto; /* Standard thermal width, browser will adapt */
    margin: 0;
  }
  html,
  body {
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    background-color: #ffffff !important;
    color: #000000 !important;
  }
}
